<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/create_account.css') }}">
    <title>Create an account</title>
</head>
  <body>
    <div class="container min-vh-100 d-flex flex-column justify-content-center">
        <div class="row background-image">
            <div class="col login-con px-5 d-flex flex-column justify-content-center gap-5">
                <div>
                    <a class="create-account-btn" href="/">Back to login</a>
                </div>
                <form action="/user/create" method="POST">
                    <input class="form-control form-login" type="text" placeholder="First Name" name="first_name" id="email">
                    {% for message in get_flashed_messages(category_filter=["error_users_first_name"]) %}
                    <p class="text-info">{{ message }}</p>
                    {% endfor %}
                    <input class="form-control form-login" type="text" placeholder="Last Name" name="last_name" id="last_name">
                    {% for message in get_flashed_messages(category_filter=["error_users_last_name"]) %}
                    <p class="text-info">{{ message }}</p>
                    {% endfor %}
                    <input class="form-control form-login" type="text" placeholder="Email" name="email">
                    {% for message in get_flashed_messages(category_filter=["error_users_email_name"]) %}
                    <p class="text-info">{{ message }}</p>
                    {% endfor %}
                    <input class="form-control form-login" type="password" placeholder="Password" name="password">
                    {% for message in get_flashed_messages(category_filter=["error_users_password"]) %}
                    <p class="text-info">{{ message }}</p>
                    {% endfor %}
                    <input class="form-control form-login" type="password" placeholder="Confirm Password" name="confirm_password">
                    {% for message in get_flashed_messages(category_filter=["error2_user_password"]) %}
                    <p class="text-info">{{ message }}</p>
                    {% endfor %}
                    <input class="form-control login-button" type="submit" value="Register">
                </form>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  </body>
</html>