.header-con {
    position: fixed;
    z-index: 0;
}

.header-logo {
    height: 92px;
}

.header-title {
    font-size: 35pt;
    font-family: 'League Gothic', sans-serif;
}

.main-title {
    font-size: 35pt;
    font-family: 'League Gothic', sans-serif;
}

.container-background {
    background-color: #F4F4F4;
    border-radius: 30px;
    box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.65);
}

.day-con {
    border-right: 1px solid #D9D9D9;
}

.weekday {
    font-family: 'League Gothic', sans-serif;
    font-size: 40px;
}

.cog-icon {
    font-size: 20px;
    color: black;
}

.time {
    background-color: #315667;
    width: 220px;
    max-height: 59px;
    border-radius: 36px;
}

.time-text {
    font-size: 1.5rem;
    color: white;
}

.student-number {
    height: 59px;
    width: 59px;
    border-radius: 36px;
    background-color: #002E44;
    padding-top: 12px;
}

/* modal */
.modal-wrapper {
    opacity: 80%;
}

.modal-container {
    padding: 2em;
    background-color: white;
    border-radius: 0.5em;
}